*,
*::after,
*::before {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
}

/* body */

body {
    font-family: Inter, Arial, Helvetica, sans-serif ;
}

/* navbar */
.nav-logo img {
    width: 280px;
    height: 110px;
    padding: 25px;
}
.nav {
    width: 100%;
    height: 90px;
}
.nav ul {
    float: right;
    margin-right: 2rem;
}
.nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;
}
ul li a{
    
    color: rgb(56, 54, 54);
    font-size: 1.2rem;
}
.checkbtn {
    float: right;
    line-height: 102px;
    margin-right: 20px;
    cursor: pointer;
}
.nav ul li a:hover {
    color: #000;
    transition: 0.5s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

@media screen and (max-width: 768px){
   
    ul {
        position: fixed;
        width: 100%;
        top: 85px;
        text-align: center;
        transition: all 0.5s;
    }
    .nav ul li {
        display: block;
    }
    .nav ul li a {
        font-size: 1.1rem;
    }

}
@media screen and (max-width: 425px) {
    .nav-logo img {
        width: 60%;
        height: 90px;
    }
}

@media screen and (min-width:860px) {
    .fa-bars {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.5rem;
        max-height: 100%;
        opacity: 1;
        margin-top: 15px;
    }
    .nav__item{
        border: 0;
    }
}


/* hero section */
.background-image {
    background: url(../images/1701_Franklin_DAY_PARLOR_SE_Furniture-1-BlueGradient.webp);
    width: 100%;
    height: 84vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}
.hero-container {
    height: 84vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.hero-heading {
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
   font-size: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
} 
.btn {
   background: #e0990c;
   color: #fff;
   border: none;
   font-size: 1.1rem;
   border-radius: 25px;
   margin-top: 20px;
   padding: 10px 15px;
   display: block;
  margin: 30px auto;
  cursor: pointer;
}
.btn:hover {
    background: #ffaa00;
    transition: 0.7s;
    transform: scale(1.2);
}
@media screen and (max-width: 430px) {
    .hero-heading {
        font-size: 0.8rem;
        text-align: center;
    }
    .btn {
        margin: 10px auto;
        padding: 10px 15px;
        font-size: 0.7rem;
    }
}

/* our services */
.our-services {
    text-align: center;
    margin-top: 70px;
}
.services-heading {
    color: #2864af;
    font-size: 2rem;
    letter-spacing: 1.3px;
}
.services-paragraph {
    margin-top: 20px;
    font-size: 1rem;
}
.service-line {
   margin-top: 50px;
   
}
@media screen and (max-width:430px) {
    .services-heading {
        font-size: 1rem;
    }
    .services-paragraph {
        font-size: 0.7rem;
    }
}

/* services icon */
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-paragraph {
    text-align: center;
}
.services-btn{
    background: #2864af;
    color: white;
    border: none;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 10px 17px;
    margin: 40px auto;
    cursor: pointer;
}
.services-btn:hover {
        background: #023068;
        transition: 0.7s;
}
.icon-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 768px) {
    .icon-container img {
        width: 200px;
        height: 110px;
    }
}
@media screen and (max-width : 430px) {
    .icon-paragraph {
        font-size: 0.7rem;
    }
    .services-btn {
        font-size: 0.7rem;
    }

    /* virtual section */
}

.virtual-section {
    margin: 8%;
}
.virtual-heading {
 font-size: 1.7rem;
 letter-spacing: 1px;
 font-weight: 600;
}
.virtual-paragraph {
    margin-top: 30px;
}
.virtual-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow-clip-margin:content-box ;
    overflow: clip;
}
.virtual-img {
    margin-top: 30px;
    max-width: 100% ;
    
}
.virtual-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.virtual-line {
    margin-bottom: 0px;
}
@media screen and (max-width: 430px) {
    .virtual-heading  {
        font-size: 1rem;
    }
    .virtual-paragraph {
        font-size: 0.7rem;
    }
}

/* photography section */

.photograpy-section {
    margin: 8%;
}
.photograpy-heading {
    font-size: 1.7rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.photograpy-paragraph{
    margin-top: 30px;
}

/* photography section */
/* slider */


.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
